<p class="section__text__p1">Get To know my </p>
    <h1 class="title">Experience</h1>
<section id="timeline">
    
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Heart Attack Prediction Model</p>
      </div> 
        <div class="tl-content"> 
          <h1 class="f3 text--accent ttu">Predictive Analytics</h1> 
          <p>Leverages machine learning techniques to identify individuals at risk of heart attacks. This project utilized regression models: - **Linear Regression** for analyzing critical features impacting heart health. - **Logistic Regression** for classifying patients into risk categories. Data preprocessing ensured clean, actionable datasets, enabling highly accurate predictions. These insights empower proactive healthcare strategies and early interventions. </p> </div>
      <div class="tl-hover-img" style="background-image: url('assets/Picture1.jpg')"></div>
    </div>
   
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/802/802/nature)"></div>
      <div class="tl-year">
      <p class="f2 heading--sanSerif">Healthcare Big Data Analysis</p>
      </div> 
      <div class="tl-content"> 
        <h1 class="f3 text--accent ttu">PySpark Workflow</h1> 
        <p>Analyzed a large-scale dataset of global causes of death using distributed computing frameworks. Deployed a **Hadoop-Spark cluster** for efficient data processing within a Docker environment. Preprocessing and transformations were implemented in **PySpark**, extracting actionable insights from billions of records. This scalable approach demonstrates the power of big data tools in solving complex health challenges. </p> </div>
      <div class="tl-hover-img" style="background-image: url('assets/2.-What-is-big-data-analytics.jpg')"></div>
   
    </div>
  
  
    
</section>
  